@import '../../scss/index.scss';

.menu-top {
    display: flex;
    align-items: center;
    background-color: $background-grey;
    height: 62px;
    padding: 16px 100px;

    button {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    &__left {
        width: 20%;
    }


    &__right  {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 15px;
        width: 80%;
        justify-content: flex-end;
        align-items: center;
    }
}

span {
    color: $font-light;
}

